@(message: String)

@navbar(message)
@main(message) {

<div class="main">
	<div class="container">

		
		<div class="row">
		
			<div class="col-md-12">

				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">@Messages("label.line")</h3>
					</div>
					<div class="panel-body">
					<div>Show test coverage by: 
						<input class="x-axis" name="x-axis" type="radio" id = "years" value="year" checked="checked"> Calendar year</input>
						<input class="x-axis" name="x-axis" type="radio"  id = "indicators" value="indicator" > Follow-up time (years)</input>
						<input class="x-axis" name="x-axis" type="radio" id = "ages" value="age" > Age</input>
						
						<p align="right">
							<select id="chartType">
										 </select>
                       </p></div>
						<div id="lineChart" class="chart-holder"></div>
					</div>
				</div>

			</div><!-- /span12 -->
			
		</div><!-- /row -->

		<div class="row">

			<div class="col-md-12">
			
				<div class="panel panel-info">
					<div class="panel-heading">
						<h3 class="panel-title">@Messages("label.combination")</h3>
					</div>
					<div class="panel-body">
						<div id="comboChart" class="chart-holder"></div>
					</div>
				</div>

			</div><!-- /span12 -->

		</div><!-- /row -->

	</div><!-- /container -->

</div><!-- /main -->
}